= simple_nested_form_for [current_user, @recipe], html: {multipart: true, class: 'form-horizontal', id: 'recipe_form'} do |f|

  = f.error_notification

  .form-inputs
    %fieldset
      %legend= 'Description'
      = f.input :url, as: :string
      = f.input :name
      = f.input :preparation_time, wrapper: :append do
        = f.input_field :preparation_time, class: 'span3'
        = content_tag :span, 'min', class: 'add-on'
      = f.input :roasting_time, wrapper: :append do
        = f.input_field :roasting_time, class: 'span3'
        = content_tag :span, 'min', class: 'add-on'
      = f.input :quantity

    %fieldset
      %legend= 'Ingrédients'
      = f.simple_fields_for :ingredients do |ingredient|
        = ingredient.input :name, label: false do
          = ingredient.input_field :name
          = ingredient.link_to_remove do
            = content_tag :span, class: 'btn' do
              %i.icon-trash
      = f.link_to_add :ingredients, class: :offset2, data: { target: '' } do
        %i.icon-plus-sign
        = 'Ajouter un ingrédient'

    %fieldset
      %legend= 'Etapes'
      = f.simple_fields_for :directions do |direction|
        = direction.input :name, label: false do
          = direction.input_field :name
          = direction.link_to_remove do
            = content_tag :span, class: 'btn' do
              %i.icon-trash
      = f.link_to_add :directions, class: :offset2, data: { target: '' } do
        %i.icon-plus-sign
        = 'Ajouter une étape'

    / %fieldset
    /   %legend= 'Images'
    /   = f.simple_fields_for :images do |image|
    /     = image.input :file, label: false do
    /       = image.file_field :file
    /       = image.link_to_remove do
    /         = content_tag :span, class: 'btn' do
    /           %i.icon-trash
    /   = f.link_to_add :images, class: :offset2, data: { target: '' } do
    /     %i.icon-plus-sign
    /     = 'Ajouter une étape'


  .form-actions
    = f.button :submit, class: 'btn btn-primary'
    = submit_tag 'Annuler', type: :reset, class: 'btn btn-danger'
