= simple_form_for [current_user, @recipe], html: {class: 'form-horizontal'} do |f|

  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :preparation_time
    = f.input :roasting_time
    = f.input :quantity
    = f.input :url, as: :string
    = f.simple_fields_for :ingredients do |f_ingredients|
      = f_ingredients.input :name

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
    = submit_tag 'Annuler', type: :reset, class: 'btn btn-danger'
