- title 'Mes recettes'

.page-header
  = link_to new_user_recipe_path(current_user), class: 'btn btn-small pull-right' do
    %i.icon-plus
    = 'Ajouter une recette'
  %h1= 'Mes recettes'

- @recipes.each_slice(4) do |row|
  .row
    - row.each do |recipe|
      .span3
        = link_to [current_user, recipe] do
          .recipe-container
            .img-crop
              = image_tag 'beacon-whitesmoke.png', class: 'lazy', 'data-original' => recipe_cover(recipe)
            .recipe-infos
              = recipe.name
