- title 'Liste de mes recettes'
.page-header
  = link_to new_user_recipe_path(current_user), class: 'btn btn-small pull-right' do
    %i.icon-plus
    = 'Ajouter une recette'
  %h1= 'Liste de mes recettes'

= simple_form_for [current_user, @recipe], html: {class: 'form-inline'} do |f|
  = f.input_field :url_to_parse, as: :string, class: 'input-large'
  = f.submit 'Ajouter', class: 'btn'

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th= 'Recette'
      %th= 'Temps de préparation (min)'
      %th= 'Temps de cuisson (min)'
  %tbody
    - @recipes.each do |recipe|
      %tr
        %td= link_to recipe.name, [current_user, recipe]
        %td= recipe.preparation_time
        %td= recipe.roasting_time

