- title @recipe.name
.page-header
  %h1= @recipe.name

.row
  .span3
    = image_tag 'beacon-whitesmoke.png', class: 'img-polaroid lazy', 'data-original' => recipe_cover(@recipe)

  .span9
    .well
      %dl.dl-horizontal
        %dt= 'Temps de préparation'
        %dd= @recipe.preparation_time
        %dt= 'Temps de cuisson'
        %dd= @recipe.roasting_time
        %dt= 'Quantité'
        %dd= @recipe.quantity

    .pull-right
      = link_to @recipe.url do
        = 'Recette originale'
        %i.icon-arrow-right

    %h3= 'Ingrédients'
    %ul
      - @recipe.ingredients.each do |ingredient|
        %li= ingredient.name

    %h3= 'Etapes'
    - @recipe.directions.each do |direction|
      %blockquote
        %p= direction.name

  - if @recipe.user == current_user
    .pull-right
      = link_to edit_user_recipe_path(current_user, @recipe), class: 'btn' do
        %i.icon-pencil
        = 'Modifier'
      = link_to [current_user, @recipe], method: :delete, data: { confirm: 'Etes-vous sûre ?' }, class: 'btn btn-danger' do
        %i.icon-trash
        = 'Supprimer'
