- title @recipe.name
.page-header
  %h1= @recipe.name

.row
  .span3
    = image_tag @recipe.images.last.file.url, width: 270, class: 'img-polaroid'

  .span9
    .well
      %dl.dl-horizontal
        %dt= 'Temps de préparation'
        %dd= "#{@recipe.preparation_time} min"
        %dt= 'Temps de cuisson'
        %dd= "#{@recipe.roasting_time} min"
        %dt= 'Quantité'
        %dd= @recipe.quantity

    .pull-right
      = link_to @recipe.url do
        = 'Recette originale'
        %i.icon-arrow-right

    %h3= 'Ingrédients'
    %ul
      - @recipe.ingredients.each do |ingredient|
        %li= ingredient.name

    %h3= 'Etapes'
    - @recipe.directions.each do |direction|
      %blockquote
        %p= direction.name

    .pull-right
      = link_to edit_user_recipe_path(current_user, @recipe), class: 'btn' do
        %i.icon-pencil
        = 'Modifier'
      = link_to [current_user, @recipe], method: :delete, data: { confirm: 'Etes-vous sûre ?' }, class: 'btn btn-danger' do
        %i.icon-trash
        = 'Supprimer'
